body {
    padding: 20px;
}


/* Create your favorite party formula*/
header 
	{
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 2px;
	text-align: center;
	}

#ingredienser
	{
    width: 	700px;
    height: 200px
    text-align: center;
    }

    .item {
    width: 346px;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    text-align: center;
    }

/* 
om responsiv
http://www.w3.org/TR/css-flexbox-1/
@media all and (max-width: 600px) {

  #main { flex-flow: column; }
  #main > article, #main > nav, #main > aside {
       order: 0; width: auto;
  }
}
*/

ul.icons{
	list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    display: -webkit-inline-box;
    text-align: center;
}


#search-form, .form-control {
    margin-bottom: 20px;
    height: 40px
}

input#query.form-control{
	width:346px;
	border-radius: 30px;
	background-color: bisque;
}

input#search.btn.btn-primary{
	background-color: #c6c6c6;
}

.cover {
    width: 306px;
    height: 306px;
    display: inline-block;
    background-size: cover;
}

.cover:hover {
    cursor: pointer;
}

.cover.playing {
    border: 5px solid #e45343;
}
#vodka-wrapper{
	 width: 346px;
	 background-color: #d6d6d6;
	 float:left;
}
#results{
	width: 346px;
	background-color: #d6d6d6;
	margin: auto;
}

#instafeed{
	 width: 346px;
	 background-color: #d6d6d6;
	 float:right;
	 }


/*pop up*/

	#element_to_pop_up { 
   background-color:#fff;
   border-radius:15px;
   color:#000;
   display:none; 
   padding:20px;
   min-width:400px;
   min-height: 180px;
}
.b-close{
   cursor:pointer;
   position:absolute;
   right:10px;
   top:5px;
}
 
	 
	 