body {
    padding: 20px;
}

*{
  border-style:none;  
}

/* Create your favorite party formula*/
header 
  {
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 2px;
  margin-top: 80px;
  text-align: center;
  }

  h1
  {
    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: 100;
  }

  h2
  {
    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: 100;
  }

  h3
  {
    font-family: 'Lato';
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
    margin-top: 20px;
  }

  p
  {
    font-family: 'Lato';
    font-weight: 100;
  }


div#wrapper{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 70px;
    width: 45%;
    }

h1.ilike{
    float: left;
    }

.search-form, .form-control {
    height: 40px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

h1.drinks {
  float:left;
}
h1.iwant {
  float:left;
  padding-top:20px;
  margin-right:-30px;
}
h1.party {
  float:left;
  padding-top:20px;
}

div#second-wrap{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 100px;
    width: 90%;
    }
/* 
om responsiv
http://www.w3.org/TR/css-flexbox-1/
@media all and (max-width: 600px) {

  #main { flex-flow: column; }
  #main > article, #main > nav, #main > aside {
       order: 0; width: auto;
  }
}
*/

ul.icons{
   list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    display: -webkit-inline-box;
    text-align: center;
    margin-bottom: 100px;
    float:left;
}

#funhats:hover {
   opacity: 0.4;
   filter: alpha(opacity=100); /* For IE8 and earlier */
}

#rockabilly:hover {
   opacity: 0.4;
   filter: alpha(opacity=100); /* For IE8 and earlier */
}

#halloween:hover {
   opacity: 0.4;
   filter: alpha(opacity=100); /* For IE8 and earlier */
}

#moustasch:hover {
   opacity: 0.4;
   filter: alpha(opacity=100); /* For IE8 and earlier */
}

#flowerpower:hover {
   opacity: 0.4;
   filter: alpha(opacity=100); /* For IE8 and earlier */
}

#superhero:hover {
   opacity: 0.4;
   filter: alpha(opacity=100); /* For IE8 and earlier */
}


li{
  list-style-type: none;
  font-family: 'Lato';
  font-weight: 100;
}

.container.icons{
  margin-bottom: 200px;
}

input#query.form-control{
  width:250px;
  border-radius: 30px;
  background-color: #d6d6d6;
  font-family: 'Lato';
  padding-left: 10px;
  font-size: 16px;
}

.cover {
    width: 306px;
    height: 306px;
    display: inline-block;
    background-size: cover;
}

.cover:hover {
    cursor: pointer;
}

.cover.playing {
    border: 5px solid #e45343;
}
#vodka-wrapper{
   width: 346px;
   float:left;
}
#results{
  width: 346px;
  margin: auto;
}

#instafeed{
   width: 346px;
   float:right;
   }


/*pop up*/

  #element_to_pop_up { 
   background-color:#fff;
   border-radius:15px;
   color:#000;
   display:none; 
   padding:20px;
   min-width:400px;
   min-height: 180px;
}
.b-close{
   cursor:pointer;
   position:absolute;
   right:10px;
   top:5px;
}




 
   
   