body {
    padding: 0px;
    margin: 0px;
    background-color: #ccdee2;
}

*{
  border-style:none;  
}

/* Create your favorite party formula*/
header 
  {
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  background-image: url("http://unvelo.se/wp-content/uploads/2014/10/background1.jpg");
  height: 290px;
  width: 1245px;
  }

  h1
  {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 400;
  }

  h2
  {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 400;
  }

  h3
  {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 400;
    font-size: 22px;
    margin-top: 20px;
  }

  p
  {
    font-family: 'Oswald';
    font-weight: 300;
  }


div#wrapper{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    height: 100px;
    padding-top: 12px;
    padding-left: 400px;
    background-color: #fac0be;
        }

h1.ilike{
    float: left;
    }

h1.partyrecepie{
    padding-top:70px;
    text-align:center;
    padding-bottom:40px;
    }

.search-form, .form-control {
    height: 40px;
    float: left;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

h1.drinks {
  float:left;
}
h1.iwant {
  float:left;
  padding-top:20px;
  margin-right:-30px;
}
h1.party {
  float:left;
  padding-top:20px;
}

div#second-wrap{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color: #ffedcc;
    height: 200px;
    padding-left: 320px;
    padding-top: 40px;
    }
/* 
om responsiv
http://www.w3.org/TR/css-flexbox-1/
@media all and (max-width: 600px) {

  #main { flex-flow: column; }
  #main > article, #main > nav, #main > aside {
       order: 0; width: auto;
  }
}
*/

ul.icons{
   list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
    display: -webkit-inline-box;
    text-align: center;
    margin-bottom: 100px;
    float:left;
}

#funhats:hover {
   opacity: 0.4;
   filter: alpha(opacity=100); /* For IE8 and earlier */
}

#rockabilly:hover {
   opacity: 0.4;
   filter: alpha(opacity=100); /* For IE8 and earlier */
     padding:10px
}

#halloween:hover {
   opacity: 0.4;
   filter: alpha(opacity=100); /* For IE8 and earlier */
     padding:10px
}

#moustasch:hover {
   opacity: 0.4;
   filter: alpha(opacity=100); /* For IE8 and earlier */
     padding:10px
}

#flowerpower:hover {
   opacity: 0.4;
   filter: alpha(opacity=100); /* For IE8 and earlier */
     padding:10px
}

#superhero:hover {
   opacity: 0.4;
   filter: alpha(opacity=100); /* For IE8 and earlier */
     padding:10px
}

#funhats{
  padding:10px
}
#halloween{
  padding:10px
}
#moustasch
{
  padding:10px
}
#flowerpower{
  padding:10px
}
#superhero{
  padding:10px
}

li{
  list-style-type: none;
  font-family: 'Oswald';
  font-weight: 300;
}

.container.icons{
  margin-bottom: 200px;
}

input#query.form-control{
  width:250px;
  border-radius: 30px;
  background-color: #ccdee2;
  font-family: 'Oswald';
  padding-left: 10px;
  font-size: 16px;
  font-weight: 300;
}

.cover {
    width: 306px;
    height: 306px;
    display: inline-block;
    background-size: cover;
}

.cover:hover {
    cursor: pointer;
}

.cover.playing {
    border: 5px solid #e45343;
}
#vodka-wrapper{
   width: 346px;
   float:left;
   background-color: #ffffff;
   margin-left:35px;
   padding-right:15px;

}
#results{
  width: 306px;
  margin: auto;
  padding-left:40px
}

#instafeed{
   width: 346px;
   float:right;
   }


/*pop up*/

#element_to_pop_up { 
 background-color:#fff;
 border-radius:15px;
 color:#000;
 display:none; 
 padding:20px;
 min-width: 400px;
 min-height: 180px;
 width: 400px;
 background-color: #ccdee2  ;
 text-align: center;
}
.b-close{
  cursor:pointer;
  position:absolute;
  right:10px;
  top:5px;
  font-family:"oswald"
}

button#my-button{
 background-color: #ccdee2 ;
 border-radius: 30px;
 width:60px;
 height:60px;
 font-size:30px;
 font-family:"oswald"
}

footer {
  width: 100%;
  height: 60px;
  background: red;
  position: fixed;
  bottom: 0;
  text-align:center;
  background-color: #fac0be ;
}

footer img{
 width: 3%;
 margin-top:-60px;
 float:left;
 padding-left:795px;
}

footer img:hover{
    opacity: 0.4;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

@media screen and (max-width: 560px){

 header{
 width:75%
 }
 footer{
   width:80%
 }
 div#second-wrap{
    width:80%;
    padding-left: 0px;
    margin:0px;
 }
 div#wrapper{
   width:80%;
   padding-left: 0px;
   margin:0px;
 }

h1.iwant {
 display:none;

}
h1.party {
 display:none;
}
h1.drinks {
 display:none;
}
h1.ilike{
   display:none;
   }
ul.icons{
 width:20%
}
input#query.form-control{
 width:200px;
 border-radius: 30px;
 background-color: #ccdee2 ;
 font-family: 'Oswald';
 padding-left: 10px;
 font-size: 14px;
 font-weight: 300;
 text-align:left;
}
.search-form, .form-control {
   height: 40px;
   float: left;
   margin-top: 20px;
   margin-left: 50px;
   margin-right: 10px;

}

 
   
   